__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env

data/*
results/*
!results/.gitkeep

outputs/
multirun/
.hydra/

*.csv
*.png
*.pdf
*.zip
*.pkl
emissions.csv
powermetrics_log.txt

.vscode/
.idea/
.pytest_cache/
.ruff_cache/
.DS_Store

!data/InSDN_tr_53383.csv
